/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fade-in {
  from {
    opacity: 0.5;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation: fade-in 1s ease-out both;
}

@keyframes gradiente-suave {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
.mi-boton {
  color: #202529;
  background: linear-gradient(90deg, #f9e2e2, #cbdeec, #f5c6cf, #f9e2e2);
  background-size: 200% 100%;
  background-position: left center;
  animation: gradiente-suave 20s ease-in-out infinite;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.4s ease;
}
.mi-boton:hover {
  background-position: right center;
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card .btn-primary {
  color: white;
  background: linear-gradient(90deg, #564d4d, #000000, #4e565c);
  background-size: 200% 100%;
  background-position: left center;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.4s ease;
}
.card .btn-primary:hover {
  background-position: right center;
  transform: scale(1.03);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

header {
  background: #222222;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #cbdeec;
}
header nav .nav-link,
header nav .navbar-brand {
  color: #cbdeec;
}
header nav .nav-link:hover,
header nav .navbar-brand:hover {
  color: #f9e2e2;
}
header nav .navbar-toggler {
  border: 1px solid #cbdeec;
  background-color: transparent;
  width: 45px;
  height: 40px;
}
header nav .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  width: 20px;
  height: 2px;
  background-color: #cbdeec;
  position: relative;
  display: block;
}
header nav .navbar-toggler .navbar-toggler-icon::before, header nav .navbar-toggler .navbar-toggler-icon::after {
  content: "";
  display: block;
  background-color: #cbdeec;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
}
header nav .navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}
header nav .navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

main {
  background: linear-gradient(90deg, #9d8d8d, #000000, #b0c1cd);
  background-size: 200% 100%;
  background-position: left center;
  animation: gradiente-suave 50s ease-in-out infinite;
  font-family: "Lato", sans-serif;
  padding: 40px;
  color: white;
}
main h1 {
  color: #f9e2e2;
  font-weight: 600;
}
main h2 {
  color: #cbdeec;
  font-weight: 600;
}
main h4 {
  font-weight: 600;
}
main .intro {
  max-width: 50%;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  main .intro {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@keyframes gradiente-suave {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
.botella-info {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pluma-animada {
  animation: girarPluma 2s ease-in-out infinite;
  transform-origin: center;
  will-change: transform;
}

@keyframes girarPluma {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
footer {
  background-color: #222222;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #cbdeec;
  padding-top: 15px;
  padding-bottom: 1px;
}

/*# sourceMappingURL=style.css.map */
