@use '../abstracts/variables' as v;

// Encabezado
header {
  background: v.$color-header-footer;
  font-family: v.$fuente-principal;
  font-weight: bold;
  text-align: center;
  color: v.$color-texto-header;

  nav {
    .nav-link,
    .navbar-brand {
      color: v.$color-texto-header;

      &:hover {
        color: #f9e2e2;
      }
    }

    .navbar-toggler {
      border: 1px solid v.$color-texto-header;
      background-color: transparent;
      width: 45px; 
      height: 40px;

      .navbar-toggler-icon {
        background-image: none;
        width: 20px;
        height: 2px;
        background-color: v.$color-texto-header;
        position: relative;
        display: block;

        &::before,
        &::after {
          content: "";
          display: block;
          background-color: v.$color-texto-header;
          width: 20px;
          height: 2px;
          position: absolute;
          left: 0;
        }

        &::before {
          top: -8px;
        }

        &::after {
          top: 8px;
        }
      }
    }
  }
}

// Contenido principal
main {
  background: linear-gradient(90deg, #9d8d8d, #000000, #b0c1cd);
  background-size: 200% 100%;
  background-position: left center;
  animation: gradiente-suave 50s ease-in-out infinite;
  font-family: v.$fuente-principal;
  padding: 40px;
  color: white;
  h1 {
    color: #f9e2e2;
    font-weight: 600;
  }
  h2 {
    color: #cbdeec;
    font-weight: 600;
  }
  h4 {
    font-weight: 600;
  }

  // Sección de introducción
  .intro {
    max-width: 50%;
    padding-bottom: 50px;

    // Estilos responsivos para móviles
    @media (max-width: 768px) {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
@keyframes gradiente-suave {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}

// Imagen pluma animada
.pluma-animada {
  animation: girarPluma 2s ease-in-out infinite;
  transform-origin: center;
  will-change: transform;
}

@keyframes girarPluma {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

// Pie de página
footer {
  background-color: v.$color-header-footer;
  font-family: v.$fuente-principal;
  font-weight: bold;
  text-align: center;
  color: v.$color-texto-footer;
  padding-top: 15px;
  padding-bottom: 1px;
}