@use '../abstracts/mixin' as mix;
@use '../abstracts/variables' as var;

// Estilos de botones en general
.mi-boton {
  color: #202529;
  background: linear-gradient(90deg, #f9e2e2, #cbdeec, #f5c6cf, #f9e2e2);
  background-size: 200% 100%;
  background-position: left center;
  animation: gradiente-suave 20s ease-in-out infinite;

  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.4s ease;

  &:hover {
    background-position: right center;
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
}

// Estilos de botones cards
.card .btn-primary {
  @include mix.estilo-boton(var.$boton-estilos);
}