@use 'sass:color';

@mixin estilo-boton($mapa) {
  color: white;
  background: linear-gradient(90deg, #564d4d, #000000, #4e565c);
  background-size: 200% 100%;
  background-position: left center;

  border-radius: map-get($mapa, border-radius);
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.4s ease;

  &:hover {
    background-position: right center;
    transform: scale(1.03);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  }
}
$color-header-footer: #222222;
