// Variables
$color-fondo: #f3efec;
$color-header-footer: #222222;
$color-texto-footer: #cbdeec;
$color-texto-header: #cbdeec;
$color-boton: #94a3b0,;
$fuente-principal: 'Lato', sans-serif;
$boton-estilos: (
  color: white,
  background: #94a3b0,
  border-radius: 30px
);