// Variables
$color-fondo: #f3efec;
$color-footer: #bdcedd;
$color-texto-footer: #202529;
$color-boton: #94a3b0,;
$fuente-principal: 'Lato', sans-serif;
$boton-estilos: (
  color: white,
  background: #94a3b0,
  border-radius: 30px
);